:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color-scheme: light dark;

  background: radial-gradient(circle at center top,
    var(--primary-background-color) 0%,
    var(--secondary-background-color) 75%
  );

  background-repeat: no-repeat;
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --nhexa-white: rgb(229, 229, 229);
  --primary-color: #5086b0;
  --primary-hover-color: #699fb8;
  --primary-background-color: #416476bc;
  --secondary-background-color: #171717;
  --menu-hover-color: #699fb8b6;
  --button-primary-color: #5086b0;
  --button-primary-hover-color: #699fb8;
  --components-background: #2d3337ba;
  --components-background-alt: #2d33378f;
}

@media (max-width: 1080px) {
  :root {
    padding: 0;
  }
}
