.app-menu-button {
  position: relative;

  .icon {
    cursor: pointer;
  }
}

.app-menu-container {
  margin: 0;
  padding: 0;
  gap: .5rem;
  top: 2.5rem;
  right: 0;
  width: 200px;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--components-background-solid);
  backdrop-filter: blur(100px);
  box-shadow: 0 0 3px rgba(63, 54, 66, 0.555);
  border: solid 1px rgba(105, 105, 105, 0.705);
  z-index: 2;

  .app-card-container {
    width: 100%;
    height: 50px;
    background-color: var(--components-background);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--nhexa-white);

    &:hover {
      cursor: pointer;
      outline: solid 2px var(--primary-color);
      background: var(--menu-hover-color);
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-container {
  gap: .5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));

  li {
    min-height: 40px;

    .app-card-container {
      color: var(--nhexa-white);
      border-radius: 5px;
      font-size: 9px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: .2rem;

      img {
        width: 25px;
      }
    }
  }
}