.form-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  text-align: left;
}

.ul-form {
  padding: 0;
}

.li-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}


input:active,
input:hover,
input:focus-visible {
  border-color: var(--primary-color);
}

.submit-button {
  width: 100%;
  background-color: var(--button-primary-color);

  &:hover {
    background-color: var(--button-primary-hover-color);
  }
}

.google-button {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .7rem;
  border-radius: 5px;
  color: black;

  img {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
  }
}

.separator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 1rem;
}