.nav-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}

@media (max-width: 780px) {
  .nav-container {
    position: fixed;
    z-index: 9;
    height: auto;
    top: 0;
    left: 0;
    background-color: var(--components-background);
  }
}