.nav-desk-container {
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-menu-ul {
  margin: 0;
  padding: 0;
  backdrop-filter: blur(200px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 780px) {
  .nav-desk-container {
    display: none;
  }
}

.logo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0;

  p {
    margin: 0;
    padding: 0;
  }
}

input {
  height: 1.6rem;
}

.search-button {
  background-color: var(--primary-color);
  transition-duration: .4s;
}

.search-button:hover {
  background-color: var(--primary-hover-color);
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo-cont {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.logo-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-inline: 2rem;
}

.user-button {
  gap: 1rem;
  display: flex;
  align-items: center;

  img:hover {
    cursor: pointer;
  }
}

.icon {
  cursor: pointer;
}

.profile-pic {
  width: 100%;
  border: solid;
  border-width: 3px;
  border-color: var(--primary-color);
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.menu-container {
  display: none;
  flex-direction: column;
  justify-content: center;
}

.searcher-container {
  display: none;
}

@media (max-width: 780px) {
  .nav-menu-ul {
    display: none;
  }
}