.lateral-menu-text {
  gap: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  transition-duration: .4s;
  display: flex;
  flex-direction: column;
}

.lateral-menu-icon {
  gap: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  transition-duration: .4s;
  display: none;
  flex-direction: column;
}

.lateral-menu-link {
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 6rem;
  transition-duration: .4s;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--nhexa-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-wrap: nowrap;

  &:hover {
    background-color: var(--primary-hover-color);
  }
}